/* COMMON */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu',
    'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eceffa;
}

* {
  text-decoration: none;
}

/* Home */
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.posts-container {
  width: 60%;
}

/* scrollable */
/* .postlist-container {
  height: 500px;
  overflow-y: scroll;
} */

.friendlist-container {
  font-size: 1.2rem;
  position: sticky;
  top: 100px;
}

/* LOGIN & SIGNUP COMPONENTS */
.form-container {
  font-size: 1.5rem;
  margin: auto;
  margin-top: 40px;
  width: 30%;
  min-width: 250px;
  max-width: 500px;
  border: rgb(156, 191, 255) solid 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px cornflowerblue;
}

.form-container .submit-btn {
  margin-top: 20px;
}

.form-container > div {
  margin: 10px;
}

.form-error {
  margin: auto;
  width: auto;
  background-color: indianred;
  color: rgb(110, 0, 0);
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  max-width: fit-content;
}

.form-container .form-title {
  margin: auto;
  padding: 2px 0px 15px 0px;
}

.form-container img {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 70%;
}

.form-container a {
  margin: auto;
}

.form-container a img {
  width: 40px;
  height: 40px;
}

/* CREATEPOST */
.create-post {
  display: flex;
  flex-direction: column;
  padding: 20px 25px 20px 25px;
}

.create-post textarea {
  box-sizing: border-box;
  height: 90px;
  width: 100%;
  margin: 15px 0px 30px 0px;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  resize: none;
  border: none;
  box-shadow: 0px 0px 10px 0px cornflowerblue;
}
#add-post-btn {
  padding: 5px;
  width: 90px;
  color: black;
  background: cornflowerblue;
  border-radius: 8px;
  font-size: 16px;
}

#add-post-btn:focus,
.create-post textarea:focus {
  outline: none;
}

#add-post-btn:hover {
  cursor: pointer;
  background: rgb(67, 124, 230);
}

/* Profile Page */
#profile-page-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#cover-container img {
  width: 100%;
  height: 200px;
}

.profile-update-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.profile-update-container > * {
  margin: auto;
}

.profile-update-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-update-container #update-btn {
  padding: 5px 30px;
  margin-right: 30px;
  box-shadow: 0px 0px 10px 0px cornflowerblue;
}

/* Footer */
footer {
  margin: 100px 0px 0px 0px;
  padding: 40px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(165, 165, 165);
}

footer * {
  font-size: 1.1rem;
  text-decoration: none;
}
